* {
    font-family: "Roboto Thin", sans-serif;
}

body
{
    margin: 0;
    padding: 0;
    background-color: pink;
}

.login{
    width: 382px;
    overflow: hidden;
    margin: auto;
    padding: 80px;
    background: pink;
    border-radius: 15px;
}

h2{
    text-align: center;
    color: white;
    padding: 20px;
}

label{
    color: white;
    font-size: 17px;
}

#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}

#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: white;
    background-color: black;

}

span{
    color: white;
    font-size: 17px;
}